[package]
name = "multihash"
description = "Implementation of the multihash format"
repository = "https://github.com/multiformats/rust-multihash"
keywords = ["multihash", "ipfs"]
version = "0.11.4"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/multihash/"
edition = "2018"

[dependencies]
blake2b_simd = { version = "0.5.9", default-features = false }
blake2s_simd = { version = "0.5.9", default-features = false }
blake3 = { version = "0.3.5", default-features = false, optional = true }
digest = { version = "0.9", default-features = false }
sha-1 = { version = "0.9", default-features = false }
sha2 = { version = "0.9", default-features = false }
sha3 = { version = "0.9", default-features = false }
unsigned-varint = "0.5"
quickcheck = { version = "0.9.2", optional = true }
rand = { version = "0.7.3", optional = true }

[dev-dependencies]
criterion = "0.3"
hex = "0.4.2"
quickcheck = "0.9.2"
rand = "0.7.3"

[features]
default = ["std"]
std = []
test = ["quickcheck", "rand"]
use_blake3 = ["blake3"]

[[bench]]
name = "multihash"
harness = false
