[package]
name = "multihash"
description = "Implementation of the multihash format"
homepage = "https://github.com/multiformats/rust-multihash"

keywords = ["multihash", "ipfs"]

version = "0.4.0"

authors = ["dignifiedquire <dignifiedquire@gmail.com>"]

license = "MIT"

readme = "README.md"

[dependencies]
ring = "~0.6.3"
