[package]
name = "multihash"
description = "Implementation of the multihash format"
repository = "https://github.com/multiformats/rust-multihash"

keywords = ["multihash", "ipfs"]

version = "0.6.0"

authors = ["dignifiedquire <dignifiedquire@gmail.com>"]

license = "MIT"

readme = "README.md"

documentation = "https://docs.rs/multihash/"

[dependencies]
tiny-keccak = "1.2"
ring = "0.9.4"
